In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch , Hyperband

In [2]:
df = pd.read_excel(r'C:/BEPEC Python Material/Machine Learning/Logistic Regression/credit_card.xlsx', engine='openpyxl')
df

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,0,0,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,0,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,29997,150000,1,3,2,43,0,0,0,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,29998,30000,1,2,2,37,4,3,2,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,29999,80000,1,3,1,41,1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [3]:
column_names = df.loc[0,:]
column_names = column_names.to_list()
#print(type(x))
print(column_names)
print(type(column_names))

['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month']
<class 'list'>

In [4]:
l1 = df.columns
l1 = l1.to_list()
print(l1)
print(type(l1))

['Unnamed: 0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'Y']
<class 'list'>

In [5]:
df.columns = column_names
df.head(3)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,0,0,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,0,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1

In [6]:
df.rename(columns= {'PAY_0':'PAY_1'}, inplace=True)
df.drop([0], inplace=True)
df.head(2)
df.drop(columns = {'ID'}, inplace=True)

In [7]:
column_names = df.columns
for column in column_names:
    df[column] = pd.to_numeric(df[column]) 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  int64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_1                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  int64
 12  BILL_AMT2                   30000 non-null  int64
 13  BILL_AMT3                   30000 non-null  int64
 14  BILL_AMT4                   30000 non-null  int64
 15  BILL_AMT5                   30000 non-null  int64
 16  BILL_AMT6                   30000 non-null  int64
 17  PAY_AMT1                    30000 non-null  int64
 18  PAY_AMT2                    30000 non-null  int64
 19  PAY_AMT3                    30000 non-null  int64
 20  PAY_AMT4                    30000 non-null  int64
 21  PAY_AMT5                    30000 non-null  int64
 22  PAY_AMT6                    30000 non-null  int64
 23  default payment next month  30000 non-null  int64
dtypes: int64(24)
memory usage: 5.7 MB

In [8]:
df.head(2)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,20000,2,2,1,24,2,2,0,0,0,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,0,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1

In [9]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
print(X.shape,y.shape)

(30000, 23) (30000,)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [11]:
print(X.shape, X.dtype)

(30000, 23) float64

In [12]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=10,
                                            max_value=500,
                                            step=5),
                               activation='elu'))
    model.add(layers.Dense(1, activation='sigmoid'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='binary_crossentropy',
        metrics=['accuracy'])
    return model

In [13]:
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=5,
    executions_per_trial=3,
    directory='project',
    project_name='Credit card default params',
    overwrite = False)

In [14]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 10, 'max_value': 500, 'step': 5, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 10, 'max_value': 500, 'step': 5, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

In [16]:
tuner.search(X_train, y_train,
             epochs=60, # This epoch will be greater 100,150,200
             validation_data=(X_test, y_test))

Trial 5 Complete [01h 02m 36s]
val_accuracy: 0.8267777760823568

Best val_accuracy So Far: 0.8282222151756287
Total elapsed time: 01h 52m 03s
INFO:tensorflow:Oracle triggered exit

In [26]:
best_hps = tuner.results_summary(num_trials = 1)
best_hps

Results summary
Results in project\Credit card default params
Showing 1 best trials
Objective(name='val_accuracy', direction='max')
Trial summary
Hyperparameters:
num_layers: 10
units_0: 415
units_1: 20
learning_rate: 0.001
units_2: 270
units_3: 270
units_4: 185
units_5: 280
units_6: 95
units_7: 75
units_8: 30
units_9: 325
units_10: 390
units_11: 100
units_12: 435
Score: 0.8282222151756287

In [39]:
best_hp = tuner.get_best_hyperparameters()[0]
best_hp

In [32]:
model = tuner.hypermodel.build(best_hp)
# model bulding through the best hyperparameters

In [33]:
model.fit(X_train, y_train, validation_split = 0.1 ,epochs=60, batch_size=25, verbose=2)

Epoch 1/60
972/972 - 6s - loss: 0.4568 - accuracy: 0.8084 - val_loss: 0.4451 - val_accuracy: 0.8196
Epoch 2/60
972/972 - 4s - loss: 0.4493 - accuracy: 0.8143 - val_loss: 0.4517 - val_accuracy: 0.8144
Epoch 3/60
972/972 - 4s - loss: 0.4453 - accuracy: 0.8156 - val_loss: 0.4438 - val_accuracy: 0.8200
Epoch 4/60
972/972 - 4s - loss: 0.4428 - accuracy: 0.8171 - val_loss: 0.4475 - val_accuracy: 0.8193
Epoch 5/60
972/972 - 4s - loss: 0.4424 - accuracy: 0.8188 - val_loss: 0.4328 - val_accuracy: 0.8204
Epoch 6/60
972/972 - 4s - loss: 0.4409 - accuracy: 0.8185 - val_loss: 0.4338 - val_accuracy: 0.8189
Epoch 7/60
972/972 - 4s - loss: 0.4403 - accuracy: 0.8173 - val_loss: 0.4347 - val_accuracy: 0.8193
Epoch 8/60
972/972 - 4s - loss: 0.4384 - accuracy: 0.8188 - val_loss: 0.4479 - val_accuracy: 0.8226
Epoch 9/60
972/972 - 4s - loss: 0.4393 - accuracy: 0.8183 - val_loss: 0.4444 - val_accuracy: 0.8167
Epoch 10/60
972/972 - 4s - loss: 0.4366 - accuracy: 0.8199 - val_loss: 0.4315 - val_accuracy: 0.8215
Epoch 11/60
972/972 - 4s - loss: 0.4356 - accuracy: 0.8200 - val_loss: 0.4324 - val_accuracy: 0.8193
Epoch 12/60
972/972 - 4s - loss: 0.4353 - accuracy: 0.8200 - val_loss: 0.4314 - val_accuracy: 0.8196
Epoch 13/60
972/972 - 4s - loss: 0.4349 - accuracy: 0.8186 - val_loss: 0.4381 - val_accuracy: 0.8159
Epoch 14/60
972/972 - 4s - loss: 0.4353 - accuracy: 0.8191 - val_loss: 0.4414 - val_accuracy: 0.8204
Epoch 15/60
972/972 - 4s - loss: 0.4324 - accuracy: 0.8207 - val_loss: 0.4326 - val_accuracy: 0.8181
Epoch 16/60
972/972 - 4s - loss: 0.4339 - accuracy: 0.8201 - val_loss: 0.4323 - val_accuracy: 0.8204
Epoch 17/60
972/972 - 4s - loss: 0.4334 - accuracy: 0.8202 - val_loss: 0.4301 - val_accuracy: 0.8193
Epoch 18/60
972/972 - 4s - loss: 0.4317 - accuracy: 0.8208 - val_loss: 0.4384 - val_accuracy: 0.8211
Epoch 19/60
972/972 - 4s - loss: 0.4319 - accuracy: 0.8202 - val_loss: 0.4309 - val_accuracy: 0.8211
Epoch 20/60
972/972 - 4s - loss: 0.4318 - accuracy: 0.8196 - val_loss: 0.4302 - val_accuracy: 0.8200
Epoch 21/60
972/972 - 4s - loss: 0.4304 - accuracy: 0.8203 - val_loss: 0.4319 - val_accuracy: 0.8215
Epoch 22/60
972/972 - 5s - loss: 0.4294 - accuracy: 0.8205 - val_loss: 0.4311 - val_accuracy: 0.8200
Epoch 23/60
972/972 - 5s - loss: 0.4400 - accuracy: 0.8044 - val_loss: 0.4390 - val_accuracy: 0.8222
Epoch 24/60
972/972 - 4s - loss: 0.4336 - accuracy: 0.8159 - val_loss: 0.4328 - val_accuracy: 0.8178
Epoch 25/60
972/972 - 4s - loss: 0.4296 - accuracy: 0.8202 - val_loss: 0.4345 - val_accuracy: 0.8200
Epoch 26/60
972/972 - 4s - loss: 0.4284 - accuracy: 0.8211 - val_loss: 0.4322 - val_accuracy: 0.8156
Epoch 27/60
972/972 - 4s - loss: 0.4283 - accuracy: 0.8197 - val_loss: 0.4288 - val_accuracy: 0.8200
Epoch 28/60
972/972 - 4s - loss: 0.4289 - accuracy: 0.8194 - val_loss: 0.4303 - val_accuracy: 0.8215
Epoch 29/60
972/972 - 4s - loss: 0.4276 - accuracy: 0.8205 - val_loss: 0.4344 - val_accuracy: 0.8215
Epoch 30/60
972/972 - 4s - loss: 0.4288 - accuracy: 0.8209 - val_loss: 0.4305 - val_accuracy: 0.8163
Epoch 31/60
972/972 - 4s - loss: 0.4323 - accuracy: 0.8200 - val_loss: 0.4317 - val_accuracy: 0.8181
Epoch 32/60
972/972 - 4s - loss: 0.4274 - accuracy: 0.8208 - val_loss: 0.4264 - val_accuracy: 0.8226
Epoch 33/60
972/972 - 4s - loss: 0.4266 - accuracy: 0.8224 - val_loss: 0.4304 - val_accuracy: 0.8226
Epoch 34/60
972/972 - 4s - loss: 0.4266 - accuracy: 0.8204 - val_loss: 0.4339 - val_accuracy: 0.8178
Epoch 35/60
972/972 - 4s - loss: 0.4265 - accuracy: 0.8209 - val_loss: 0.4300 - val_accuracy: 0.8185
Epoch 36/60
972/972 - 4s - loss: 0.4271 - accuracy: 0.8205 - val_loss: 0.4350 - val_accuracy: 0.8196
Epoch 37/60
972/972 - 4s - loss: 0.4255 - accuracy: 0.8202 - val_loss: 0.4360 - val_accuracy: 0.8159
Epoch 38/60
972/972 - 4s - loss: 0.4265 - accuracy: 0.8211 - val_loss: 0.4285 - val_accuracy: 0.8193
Epoch 39/60
972/972 - 4s - loss: 0.4305 - accuracy: 0.8193 - val_loss: 0.4290 - val_accuracy: 0.8204
Epoch 40/60
972/972 - 4s - loss: 0.4269 - accuracy: 0.8185 - val_loss: 0.4307 - val_accuracy: 0.8207
Epoch 41/60
972/972 - 4s - loss: 0.4251 - accuracy: 0.8208 - val_loss: 0.4321 - val_accuracy: 0.8185
Epoch 42/60
972/972 - 4s - loss: 0.4250 - accuracy: 0.8220 - val_loss: 0.4284 - val_accuracy: 0.8211
Epoch 43/60
972/972 - 4s - loss: 0.4255 - accuracy: 0.8211 - val_loss: 0.4342 - val_accuracy: 0.8163
Epoch 44/60
972/972 - 4s - loss: 0.4266 - accuracy: 0.8188 - val_loss: 0.4339 - val_accuracy: 0.8096
Epoch 45/60
972/972 - 4s - loss: 0.4241 - accuracy: 0.8171 - val_loss: 0.4316 - val_accuracy: 0.8211
Epoch 46/60
972/972 - 4s - loss: 0.4254 - accuracy: 0.8206 - val_loss: 0.4361 - val_accuracy: 0.8215
Epoch 47/60
972/972 - 4s - loss: 0.4236 - accuracy: 0.8208 - val_loss: 0.4315 - val_accuracy: 0.8152
Epoch 48/60
972/972 - 4s - loss: 0.4233 - accuracy: 0.8202 - val_loss: 0.4334 - val_accuracy: 0.8178
Epoch 49/60
972/972 - 4s - loss: 0.4272 - accuracy: 0.8202 - val_loss: 0.4302 - val_accuracy: 0.8204
Epoch 50/60
972/972 - 4s - loss: 0.4256 - accuracy: 0.8218 - val_loss: 0.4338 - val_accuracy: 0.8174
Epoch 51/60
972/972 - 4s - loss: 0.4238 - accuracy: 0.8219 - val_loss: 0.4318 - val_accuracy: 0.8170
Epoch 52/60
972/972 - 4s - loss: 0.4224 - accuracy: 0.8223 - val_loss: 0.4287 - val_accuracy: 0.8207
Epoch 53/60
972/972 - 4s - loss: 0.4225 - accuracy: 0.8236 - val_loss: 0.4311 - val_accuracy: 0.8204
Epoch 54/60
972/972 - 4s - loss: 0.4216 - accuracy: 0.8221 - val_loss: 0.4344 - val_accuracy: 0.8185
Epoch 55/60
972/972 - 4s - loss: 0.4223 - accuracy: 0.8217 - val_loss: 0.4345 - val_accuracy: 0.8196
Epoch 56/60
972/972 - 4s - loss: 0.4248 - accuracy: 0.8209 - val_loss: 0.4308 - val_accuracy: 0.8215
Epoch 57/60
972/972 - 4s - loss: 0.4212 - accuracy: 0.8219 - val_loss: 0.4300 - val_accuracy: 0.8219
Epoch 58/60
972/972 - 4s - loss: 0.4216 - accuracy: 0.8211 - val_loss: 0.4337 - val_accuracy: 0.8196
Epoch 59/60
972/972 - 4s - loss: 0.6648 - accuracy: 0.8209 - val_loss: 0.4405 - val_accuracy: 0.8178
Epoch 60/60
972/972 - 4s - loss: 0.4264 - accuracy: 0.8197 - val_loss: 0.4365 - val_accuracy: 0.8189

In [34]:
# evaluate the model
loss, acc = model.evaluate(X_test, y_test, verbose=2)
print('Test Accuracy: %.2f' % (acc*100))
print('loss is : %.2f'%loss)

94/94 - 1s - loss: 0.4300 - accuracy: 0.8207
Test Accuracy: 82.07
loss is : 0.43

In [44]:
tuner.get_best_models(num_models=2) # best 2 models

[<tensorflow.python.keras.engine.sequential.Sequential at 0x1d6b0973820>,
 <tensorflow.python.keras.engine.sequential.Sequential at 0x1d6b0aa9760>]